@import "tailwindcss";

a:hover {
  color: red;
}

.logo:hover {
  color: pink;
}


.title-heading {
  color: aqua;
}

@theme inline {
  --font-roboto: var(--font-roboto);
  --font-workSans: var(--font-work-Sans);
}